<app-topbar></app-topbar>
<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container">INLINE BOARD FORM FOR EDIT</div>
  <div class="columns">
    <div class="columns-list">
      <div class="column" *ngFor="let column of data.columns">
        <div class="column-title">{{ column.title }}</div>
        <ng-container *ngIf="data.tasks">
          <div
            class="task"
            *ngFor="let task of getColumnTasks(column.id, data.tasks)"
          >
            {{ task.title }}
          </div>
          <app-inline-form
            defaultText="Create New Task"
            (handleSubmit)="createTask($event, column.id)"
            [hasButton]="true"
            buttonText="Add Task"
          ></app-inline-form>
        </ng-container>
      </div>
    </div>

    <app-inline-form
      defaultText="Create New Column"
      (handleSubmit)="createColumn($event)"
      [hasButton]="true"
      buttonText="Add"
    ></app-inline-form>
  </div>
</div>
