<app-topbar></app-topbar>
<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container">INLINE BOARD FORM FOR EDIT</div>
  <div class="columns">
    <div class="columns-list">
      <div class="column" *ngFor="let column of data.columns">
        <div class="column-header">{{ column.title }}</div>
      </div>
    </div>

    <app-inline-form
      defaultText="Create New Column"
      (handleSubmit)="createColumn($event)"
      [hasButton]="true"
      buttonText="Add"
    ></app-inline-form>
  </div>
</div>
